<header>
    <div class="head-title">
        <a href="/"><h1>Decode Blog</h1></a>
    </div>
    <div class="head-search">
        <input type="text" placeholder="Поиск по блогам">
        <button>
            <img src="/img/icons/Vector.png" alt="">
            Найти
        </button>
    </div>
    <div class="head-buttons">
        <button><a href="/register">Регистрация</a></button>
        <button><a href="/login">Вход</a></button>
    </div>
</header>