<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
    <%- include('partials/header.ejs')%>
    <script src="https://kit.fontawesome.com/180c2b9734.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="main-tit">
                <h2>Блоги по программированию</h2>
                <p>Популярные и лучшие публикации по программированию для начинающих <br> и профессиональных программистов и IT-специалистов.</p>
            </div>
            <div class="first">
                <img class="main-img" src="/img/mainlist.png" alt="">
                <h4>Обзор Report Manager от Webix</h4>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>
            </div>
            <div class="icons">
                <div class="icons-item">
                    <i class="fa-regular fa-calendar" style="color: #73767d;"></i>
                    <p>26.06.2020</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-eye" style="color: #73767d;"></i>
                    <p>21</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comment" style="color: #73767d;"></i>
                    <p>4</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comments" style="color: #73767d;"></i>
                    <p>Веб-разработка</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-user" style="color: #73767d;"></i>
                    <p>Nast1289</p>
                </div>
            </div>
            <div class="first">
                <img class="main-img" src="/img/image2.png" alt="">
                <h4>Разработчики изобрели методологию <br> высокоскоростного программирования</h4>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>
            </div>
            <div class="icons">
                <div class="icons-item">
                    <i class="fa-regular fa-calendar" style="color: #73767d;"></i>
                    <p>26.06.2020</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-eye" style="color: #73767d;"></i>
                    <p>21</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comment" style="color: #73767d;"></i>
                    <p>4</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comments" style="color: #73767d;"></i>
                    <p>Веб-разработка</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-user" style="color: #73767d;"></i>
                    <p>Nast1289</p>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="category-title">
                <h3>Категории</h3>
            </div>
            <% genres.forEach(genre => { %>
                <div class="category-item">
                   <a href="/<%=genre.key%>"><%=genre.name%></a>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>