<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs')%>
    <div class="container">
            <form action="/api/signin" class="form" method="post">
                <h3>Войти</h3>
                <fieldset class="fieldset">
                    <input type="email" placeholder="Введите почту" name="email">
                </fieldset>
                <fieldset class="fieldset">
                    <input type="password" placeholder="Введите пароль" name="password">
                </fieldset>
                <fieldset class="fieldset"><button type="submit">Войти</button></fieldset>
            </form>
    </div>
</body>
</html>