<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')%>
    <title>Document</title>
    <script src="https://kit.fontawesome.com/180c2b9734.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="head-title">
            <a href="/"><h1>Decode Blog</h1></a>
        </div>
        <div class="head-search">
            <input type="text" placeholder="Поиск по блогам">
            <button>
                <img src="/img/icons/Vector.png" alt="">
                Найти
            </button>
        </div>
        <div class="head-avatar">
            <img src="/img/avatar.png" alt="">
        </div>
    </header>
    <div class="container">
        <div class="main">
            <div class="my-blog">
                <h1>Мои блоги</h1>
                <a href="">Новый блог</a>
            </div>
            <div class="first">
                <img class="main-img" src="/img/mainlist.png" alt="">
                <h4>Обзор Report Manager от Webix</h4>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>
            </div>
            <div class="icons">
                <div class="icons-item">
                    <i class="fa-regular fa-calendar" style="color: #73767d;"></i>
                    <p>26.06.2020</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-eye" style="color: #73767d;"></i>
                    <p>21</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comment" style="color: #73767d;"></i>
                    <p>4</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comments" style="color: #73767d;"></i>
                    <p>Веб-разработка</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-user" style="color: #73767d;"></i>
                    <p>Nast1289</p>
                </div>
            </div>
            <div class="first">
                <img class="main-img" src="/img/image2.png" alt="">
                <h4>Разработчики изобрели методологию <br> высокоскоростного программирования</h4>
                <p>Осень 2020 года стала плодотворным временем для специалистов Webix.</p>
                <p>Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </p>
                <p>Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его.</p>
            </div>
            <div class="icons">
                <div class="icons-item">
                    <i class="fa-regular fa-calendar" style="color: #73767d;"></i>
                    <p>26.06.2020</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-eye" style="color: #73767d;"></i>
                    <p>21</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comment" style="color: #73767d;"></i>
                    <p>4</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-comments" style="color: #73767d;"></i>
                    <p>Веб-разработка</p>
                </div>
                <div class="icons-item">
                    <i class="fa-solid fa-user" style="color: #73767d;"></i>
                    <p>Nast1289</p>
                </div>
            </div>
        </div>
        <div class="cards">
            <img src="/img/avatar.png" alt="">
            <h2>Елнур Сеитжанов</h2>
            <p>В основном пишу про веб - разработку, на React & Redux</p>
            <p>285 постов за все время</p>
            <a href="">Редактировать</a>
        </div>
    </div>
</body>
</html>