.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 40px;
}

.form h3{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.form fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 30%;
}


.fieldset input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    outline: none;
    border: 1px solid rgba(31,31,31,.1);
    border-radius: 4px;
    font-size: 15px;
}

.fieldset button{
    width: 100%;
    padding: 15px 25px;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    background:  #00A2DC;
}

.form p a{
    color: dodgerblue;
    text-decoration: none;
}